api:
  dashboard: true
  insecure: true

providers:
  docker:
    exposedByDefault: false

entryPoints:
  web:
    address: :80
    # http:
    #   redirections:
    #     entryPoint:
    #       to: websecure
    #       scheme: https
  websecure:
    address: :443

certificatesResolvers:
  letsencrypt:
    acme:
      email: support@mediacloud.id
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web