providers:
  docker:
    exposedByDefault: false

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443

certificatesResolvers:
  letsencrypt:
    acme:
      email: support@mediacloud.id
      storage: /etc/traefik/letsencrypt/acme.json
      tlsChallenge: {}