providers:
  docker:
    exposedByDefault: false

entryPoints:
  web:
    address: :80
  websecure:
    address: :443

# certificatesResolvers:
#   letsencrypt:
#     acme:
#       email: support@mediacloud.id
#       storage: /etc/traefik/letsencrypt/acme.json
#       httpChallenge:
#         entryPoint: web